/* Navbar */
.navbar{
    background-color: antiquewhite;
    
    
}
.navbar .navbar-collapse{
    justify-content: flex-end;
    font-size: 18px;
}
/* slider */
.carousel{
    padding-top: 70px;
    
}
.d-block{
    
}