 
/* Navbar */
html {
    font-size: 1rem;
}
.navbar{
    background-color: antiquewhite;
    opacity: 1;
    position: relative;
    

}
.navbar .navbar-collapse{
    justify-content: flex-end;
    font-size:18px;
}
/* slider */

.carousel{
    /*padding-top: 70px;*/
    position: absolute;
    
    
}

.card-form{
    position: absolute;
    width: 100%;
    
}
.card-form .card-list{
    
    display: flex !important;
    color:#43464b;
    justify-content:space-evenly;
    flex-wrap: wrap;

    
    
} 

.card{
    margin-bottom: 15px;
    
}
.card .card-title{
    text-align: center  ;
    padding-bottom: 5px;
    border:1px solid dimgrey;
    border-radius: 5px;
    padding-top: 2px;
}
.card .card-text{
    font-size: 14px;
    text-transform: uppercase;
    }   
.card-img-top:hover{
    opacity: 0.7;
    filter: grayscale(10%);
}

.card-form .blockquote{
    text-transform: uppercase;
    padding-top: 15px;  
    margin-left: 15px;
}
.card-form .blockquote::after{
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 8px;
    content: '';
    background-color: #f26b38;
   
}
.card-form .intro{
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10.0pt;
    margin-left: 0in;
    
}
.col{
    
}
.card-btn-box{
    display: flex;
    justify-content:center;

}
.card-btn-box .btn{
    margin-left: 3px;
    margin-right: 3px;
    border: 0.2px solid antiquewhite;
    transform:skew(-1.5deg)
}
.row .card-text{
    padding-left: 0;
    padding-right: 10px;
    
}
.row .card-text-1{
    border-right-style: groove;
}
.row .card-text-2{
    border-right-style: none;
}