 
/* Navbar */
html {
    font-size: 1rem;
}
.navbar{
    background-color: antiquewhite;
    opacity: 1;
    position: relative;
    

}
.navbar .navbar-collapse{
    justify-content: flex-end;
    font-size:18px;
}
/* slider */

.carousel{
    /*padding-top: 70px;*/
    position: absolute;
    
    
}

.card-form{
    position: absolute;
    width: 100%;
    
}
.card-list{
    
    display: flex !important;
    color:#43464b;
    justify-content:space-evenly;
    flex-wrap: wrap;

    
    
} 

.card{
    margin-bottom: 15px;
    
}
.card .card-title{
    
    padding-bottom: 5px;
}
.card .card-text{
    font-size: 14px;
    text-transform: uppercase;
    }   
.card-img-top:hover{
    opacity: 0.7;
    filter: grayscale(10%);
}

.blockquote{
    text-transform: uppercase;
    padding-top: 15px;  
    margin-left: 15px;
}
.blockquote::after{
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 8px;
    content: '';
    background-color: #f26b38;
   
}
.intro{
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10.0pt;
    margin-left: 0in;
}

